{% extends 'base.html.twig' %}

{% block title %}Modifier votre réservation #{{reservation.id}}!{% endblock %}

{% block body %}
<section class="my-8">
    <h1 class="text-2xl font-bold text-center my-5">Modifier votre Réservation</h1>
    <p class="text-lg font-normal text-gray-500 dark:text-gray-400 lg:text-center lg:text-xl lg:px-64 lg:mb-16">
        
        Vous pouvez modifier votre réservation ici.
        </p>
<main class="max-w-sm mx-auto">

{{ form_start(form ) }}
{{ form_row(form.depAddress, { 'id': 'depart'}) }}

<div class="col-6 proposition">
    <div class="adress-dep">
        <ul class="bg-white border border-gray-100 w-full mt-2"></ul>
    </div>
{{ form_row(form.destination, { 'id': 'destination'}) }}

<div class="col-6 proposition">
    <div class="adress-des">
        <ul class="bg-white border border-gray-100 w-full mt-2"></ul>
    </div>
{{ form_row(form.reservation_datetime) }}
{{ form_row(form.nbPassengers) }}
{{form_row(
    form.submit, {
        label: 'Modifier',
    }
)}}
{{ form_end(form) }}


</main>

</section>



{% endblock %}
