{% extends 'base.html.twig' %}

{% block title %}Mes Réservation {% endblock %}

{% block body %}

<section>
<div class="flex justify-center flex-col mt-8 ">

    <h2 class="mb-8 text-2xl text-center font-bold tracking-tight text-gray-900 lg:font-extrabold lg:text-4xl lg:leading-snug dark:text-white lg:text-center  2xl:px-48">Mes Réservation</h2>

    <p class="mb-10 text-lg font-normal text-gray-500 dark:text-gray-400 lg:text-center lg:text-xl lg:px-64 lg:mb-16">
        
        Vous trouverez ici la liste de vos réservations. Vous pouvez les modifier ou les supprimer.

        </p>

        <div class="flex flex-col justify-center mb-3">
        
        
{% if reservations is empty %}

<div class="flex justify-center flex-col items-center h-96">
    <p class="text-lg font-normal text-gray-500 dark:text-gray-400 lg:text-center lg:text-xl lg:px-64 lg:mb-16">
        Vous n'avez pas encore de réservation.
    </p>

   
{% else %}

<div class="flex items-center mt-4 p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">Remarque!</span> une fois la réservation Acceptée ou refusée vous ne pouvez plus la supprimer ou la modifier.
    </div>
  </div>
        </div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-5">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Address de départ
                </th>
                <th scope="col" class="px-6 py-3">
                    Destination
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre de passagers
                </th>
                <th scope="col" class="px-6 py-3">
                    Date de réservation
                </th>

                <th scope="col" class="px-6 py-3">
                    Date de création
                </th>

                <th scope="col" class="px-6 py-3">
                    Status
                </th>


                <th scope="col" class="px-6 py-3">
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            
            {% for reservation in reservations %}
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   #{{ reservation.id}}
                </th>
                <td class="px-6 py-4">
                    {{reservation.depAddress | striptags | slice(0, 20) }}...

                </td>
                <td class="px-6 py-4">
                    {{reservation.destination | striptags | slice(0, 20) }}...

                </td>

                <td class="px-6 py-4">
                    {{ reservation.nbPassengers}}
                </td>
                <td class="px-6 py-4">
                    {{ reservation.reservationdatetime | date('d-m-Y H:i')}}
                </td>
                <td class="px-6 py-4">
                    {{ reservation.createdAt|date('d-m-Y')}}
                </td>

                <td class="px-6 py-4">

                    {% if reservation.status == 'PENDING' %}
                    
                    <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">En Attente
                    </span>

                    {% elseif reservation.status == 'CONFIRMED' %}
                    <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Accepté</span>
                   {% else %}
                   <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Refusé</span>

                    {% endif %}
                    
                </td>

                <td class="px-6 py-4 flex flex-col lg:flex-row">
                    <a href="{{path('edit_reservation',{id:reservation.id})}}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        Modifier
                    </a>
                    <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" href="" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                        Supprimer
                    </button>

                    {% include "components/_deleteModel.html.twig"%}

                    
                    

                </td>
            </tr> 

            {% endfor %}
           
        </tbody>
    </table>
</div>

</div>
<div class="flex justify-center my-5">
{{ knp_pagination_render(reservations) }}
</div>
{% endif %}

</section>



{% endblock %}
